#title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
}
#subt {
    margin-top: 5px;
    font-size: 30px;
    text-align: center;
}
body{
    background-image: url("bgroundb.png");
	background-color: rgb(46, 46, 48);
    /* height: 200% auto; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Courier New', Courier, monospace;
}
#body{
	background-color:rgba(46, 46, 48,0.3);
	width:960px;
	margin: auto;
	padding: 10px;
}
#menucl {
    background-color :rgba(24, 23, 23, 0.6);
    text-align: center;
    color: white;
}
hr{
    border-width: 10px;
}
#img {
	background-color: rgb(46, 46, 48);
	height: 250 px;
    width:965px;
}

