#title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
}
#subt {
    margin-top: 5px;
    font-size: 30px;
    text-align: center;
}
body{
    background-image: url("spiderroach.jpg");
	background-color: rgb(46, 46, 48);
    height: 100% auto;
    font-family: 'Courier New', Courier, monospace;
}
#body{
	background-color:rgb(46, 46, 48);
	width:960px;
	margin: auto;
	padding: 10px;
}
#menucl {
    background-color: #dad8d8;
}
hr{
    border-width: 10px;
}
#img {
	background-color: rgb(46, 46, 48);
	height: 250 px;
    width:965px;
}
#input {
    padding-left: 5 px ;
}